body {
    margin: 0 auto;
    background-color: rgb(96, 189, 96);
    font-family: 'Shadows Into Light', cursive;
    font-size: 36px;
    color: white;
}
#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 174, 255, 0.644);
}
h1 {
    margin: 10px 0;
    padding: 15px;
}
form {
    padding: 15px;
}
#pictures {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#gif {
    border: solid rgba(0, 174, 255, 0.644) 10px;
    border-radius: 5%;
    margin: 0 0;
}
#heart { 
    margin: 100px 0px;
    width: 70px; 
    height: 70px;
}
#next{ 
    margin: 100px 0px;
    width: 70px; 
    height: 70px;
}
#extra-buttons {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#floppy-disk {
    margin: 0 20px;
    width: 50px; 
    height: 50px;
}
#trending {
    margin: 0 20px;
    width: 50px; 
    height: 50px;
}
#random {
    margin: 0 20px;
    width: 50px; 
    height: 50px;
}
#saved-gifs {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex-wrap: wrap;
}
footer {
    background-color: rgba(0, 174, 255, 0.644);
    font-size: 18px;
    text-align: center;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 50px;
}
@media screen and (max-width: 900px) {
    body {
        font-size: 28px;
    }
    #top {
        display: flex;
        flex-direction: column;
    }
    h1 {
        text-align: center;
    }
    form {
        text-align: center;
    }
    #pictures {
        margin: 20px auto 0px auto;
    }
    #next {
        width: 60px;
        height: 60px;
    }
    #heart {
        width: 60px;
        height: 60px;
    }
}
@media screen and (max-width: 600px) {
    body {
        font-size: 20px;
    }
    #top {
        height: 200px;
    }
    h1 {
        padding: 0;
    }
    #pictures {
        display: flex;
        flex-wrap: wrap;
        order: 2 1 3;
    }
    #heart {
        order: 1;
        width: 50px;
        height: 50px;
        margin-right: 0;
    }
    #gif {
        order: 0;
        margin: 0 200px;
    }
    #next {
        order: 2;
        width: 50px;
        height: 50px;
        margin-left: 0;
    }
    #extra-buttons {
        margin: 0px auto;
}
